/*Start  Global Ruls */

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(#111,#222);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   position: relative;
}
body::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    clip-path: circle(40% at right 70%);
    background-color: red;
    z-index: -1;
}
@media (max-width:767px){
    body::before{
        clip-path: circle(45% at bottom);
    }
}
ul{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
}
.container{
    width: 80%;
    height: 80%;
    background:rgba(255,255,255,0.08) ;
    border-radius: 20px;
    
}
/* Small  */
@media (min-width:768px){
    .container{
        width: 750px;
    }
}
/* Meduim  */
@media (min-width:992px){
    .container{
        width: 970px;
    }
}
/* Large  */
@media (min-width:1120px){
    .container{
        width:1170px
    }
}
/*End Global Ruls */

.container .tape {
    width: 80%;
    margin: auto;
    padding: 20px 0;
}
.container .tape .logo{
    text-shadow: 3px 6px  #111;
    color: #80DD6A;
}
.container .tape ul li{
    display: inline-block;
    margin: 0 6px;
}
@media (max-width:767px){
    .container .tape{
        flex-direction: column;
        padding: 0;
    }
    .container .tape .logo{
        margin: 15px 0 0px 0;
    }
    .container .tape ul li{
        padding: 0;
    }
    
}
.container .tape ul li a{
    transition: 0.3s;
   
}
.container .tape ul li a:hover{
    color: red;
    background:rgba(255,255,255,0.01) ;
}
.container .info {
    width: 80%;
    margin: auto;
}
@media (max-width:767px){
    .container .info {
        flex-direction: column;
    }
    .container .info .text{
        width: 100%;
    }
    .container .info .text h1{
        font-size: 30px;
    }
    .container .info .image img{
        width: 250px;
    }
}

.container .info .text h1{
    color: #FFFE70; 
}

